$topnav-background-color: #222;
.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 55px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color