<div class="row">
    <div class="col-lg-8">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-user-plus fa-fw"></i> Редактирование пароля
            </div>
            <div class="card-block">
                <form role="form" #changeFrom="ngForm" novalidate autocomplete="off" (ngSubmit)="change(changeFrom)">
                    <div *ngIf="isAdmin" class="form-group">
                        <label>Пользователь</label>
                        <select class="form-control" name="email" [(ngModel)]="user.name" #email="ngModel">
                            <option  *ngFor="let user of allUser" [value]="user.name">
                                {{user.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-content">
                        <div class="form-group" [ngClass]="{has_success:(password.touched || password.dirty) && !password.errors, has_danger: (password.touched || password.dirty) && password.errors}">
                            <label for="inputPassword" class="form-control-label">Пароль</label>
                            <input type="text" class="form-control" id="inputPassword" required name="password" [(ngModel)]="user.password" #password="ngModel">
                            <div class="help-block help-block-danger" *ngIf="((password.touched || password.dirty) && password.errors)">
                                <span *ngIf="password.errors && password.errors.required">Пароль - обязательное поле</span>
                                <!-- <span *ngIf="!loading">{{errorUserMsg}}</span> -->
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{has_success:(confirmPassword.touched || confirmPassword.dirty) && !confirmPassword.errors, has_danger: (confirmPassword.touched || confirmPassword.dirty) && confirmPassword.errors}">
                            <label for="inputConfirmPassword" class="form-control-label">Повторите пароль</label>
                            <input (ngModelChange)="onChange($event)" type="text" class="form-control" id="inputConfirmPassword" required name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel">
                            <div class="help-block help-block-danger" *ngIf="((confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.errors || !confirmed))">
                                <span *ngIf="confirmPassword.errors && confirmPassword.errors.required">Пароль - обязательное поле</span>
                                <span *ngIf="!confirmed && !confirmPassword.errors">Пароли не совпадают</span>
                                <!-- <span *ngIf="!loading">{{errorUserMsg}}</span> -->
                            </div>
                        </div>
                    </div>
  