.fs-12 {
    font-size: 12px;
}

.pr-price {
    color: #f1461b;
}

.pr-image img {
    width: 100%;
}

.wh30 {
    width: 30px;
}

.wh50 {
    width: 50px;
}

.wh100 {
    width: 100px;
}

.wh150 {
    width: 150px;
}

.wh200 {
    width: 200px;
}

.img_pr {
    min-height: 150px;
    min-width: 101px;
}

.product-list {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #e6e6e6;
}

.product-list .row-wrap {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relati