.fs-12 {
    font-size: 12px;
}

.pr-price {
    color: #f1461b;
}

.pr-image img {
    width: 100%;
}

.wh30 {
    width: 30px;
}

.wh50 {
    width: 50px;
}

.wh100 {
    width: 100px;
}

.wh150 {
    width: 150px;
}

.wh200 {
    width: 200px;
}

.img_pr {
    min-height: 150px;
    min-width: 101px;
}

.product-list {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #e6e6e6;
}

.product-list .row-wrap {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-collapse: separate;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 40px;
}

.product-list .row-wrap .product-description {
    position: relative;
}

.product-list .row-wrap .product-description table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
}

.product-list .row-wrap .product-description table .img-table {
    width: 110px;
    height: 160px;
    vertical-align: top;
}

.product-list .row-wrap .product-description table .img-table img {
    height: auto;
    max-width: 130px;
    padding: 10px 10px 10px 0;
}

.product-list .row-wrap .product-description table .description-wrap {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
}

.product-list .row-wrap .product-description table td {
    border: none;
}

.product-list .items_wrap {
    width: 100%;
    height: 100%;
}

.product-list .row-wrap .product-description table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
}

.product-list .description_items {
    vertical-align: top;
}

.product-list .total_price_items {
    vertical-align: bottom;
}

.product-list .total_price_items td {
    padding-bottom: 10px;
}

.product-list .total_price_items .total_price {
    display: block;
    float: left;
    width: 100%;
    padding: 5px 0 0;
    border-bottom: 1px dotted #c1c1c1;
}

.product-list .total_price_items .total_price .tp_item {
    margin-top: 3px;
    margin-bottom: -3px;
    padding: 0 5px 0 0;
    float: left;
    font: 11pt Arial;
    background: #fff;
}

.product-list .total_price_items .total_price .tp_number {
    float: right;
    padding: 0 5px;
}

.product-list .total_price_items .tp_prop_color {
    color: #E7452C;
}

.product-list .description_items td {
    padding: 10px 0 0 0;
}

.product-list .row-wrap .product-description table td {
    border: none;
}

.product-list .row-wrap .product-description table .description-wrap .name-brand {
    padding: 0 2px 6px 0;
    font-size: 16pt;
}

.cl-size-container .cl-size {
    float: left;
}

.cl-size-container .cl-size div {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    font: 16pt/36px Arial;
    border: 1px solid #ededed;
    border-top-color: rgb(237, 237, 237);
    border-right-color: rgb(237, 237, 237);
    border-bottom-color: rgb(237, 237, 237);
    border-left-color: rgb(237, 237, 237);
    margin: 2px 6px 0 0;
    background-color: #fff;
}

.cl-size-container .cl-size div.cl-sizerow-plus,
.cl-size-container .cl-size div.cl-sizerow-minus {
    background-color: #f6f6f6;
    border-color: