.fs-12 {
    font-size: 12px;
}

.pr-price {
    color: #f1461b;
}

.pr-image img {
    width: 100%;
}

.wh30 {
    width: 30px;
}

.wh50 {
    width: 50px;
}

.wh100 {
    width: 100px;
}

.wh150 {
    width: 150px;
}

.wh200 {
    width: 200px;
}

.img_pr {
    min-height: 150px;
    min-width: 101px;
}

.product-list {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #e6e6e6;
}

.product-list .row-wrap {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-collapse: separate;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 40px;
}

.product-list .row-wrap .product-description {
    position: relative;
}

.product-list .row-wrap .product-description table {
    width: 100%;
    height: 100%;
    margin: 0;
    border-collapse: collapse;
}

.product-list .row-wrap .product-description table .img-table {
    width: 110px;
    height: 160px;
    vertical-align: top;
}

.product-list .row-wrap .product-description table .img-table img {
    height: auto;
    max-width: 130px;
    padding: 10px 10px 10px 0;
}

.pr