<div class="row">
    <div class="col-lg-10">
        <div class="card card-default mb-3">
            <div class="card-header">
                <i class="fa fa-user-plus fa-fw"></i> Данные к системе МойСклад!
            </div>
            <div class="card-block">
                <div class="form-content">
                    <form role="form" #stockFrom="ngForm" novalidate autocomplete="off" (ngSubmit)="saveAll()">
                        <div class="form-group" [ngClass]="{has_success:(login.touched || login.dirty) && !login.errors, has_danger: (login.touched || login.dirty) && login.errors}">
                            <label for="loginStock" class="form-control-label">Логин</label>
                            <input type="text" class="form-control" id="loginStock" required name="loginStock" [(ngModel)]="loginStock.value" #login="ngModel">
                            <div class="help-block help-block-danger" *ngIf="(login.touched || login.dirty) && login.errors">
                                <span *ngIf="login.errors && login.errors.required">Логин - обязательное поле</span>
                            </div>
                            <p class="help-block">Необходимо указать логин админа для авторизации в МойСклад</p>
                        </div>
                       