<div class="row">
    <div class="loading-indicator" [ngClass]="{show_loader:loadingProducts}">
        <div class="loader">
            <i class="fa fa-circle-o-notch fa-spin"></i> Загрузка товаров
        </div>
    </div>
    <div class="col-lg-8">
        <div class="mb-3">
            <form role="form" #searchForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onSearch()">
                <div class="form-group input-group">
                    <input class="form-control" type="text" placeholder="Поиск" name="search" [(ngModel)]="search">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <table class="product-list">
            <tbody infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
                <tr class="row-wrap reserved scroll-here out-of-stock1" *ngFor="let product of products; let i = index">
                    <td class="product-description">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="img-table">
                                        <img src="{{product.image}}" alt="{{product.name}}">
                                    </td>
                                    <td class="description-wrap">
                                        <table class="items_wrap">
                                            <tbody>
                                                <tr class="description_items">
                                                    <td>
                                                        <div class="name-brand">{{product.name}}</div>
                                                        <div class="cl-size-container">
                                                            <positions-comp [productId]="product.id" [(positions)]="product.positions" (onChangePosition)="onChangedPosition($event)"></positions-comp>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="total_price_items">
                                                    <div class="total_price">
                                                        <span class="tp_item">Цена: </span>
                                                        <span class="tp_item tp_number">
                                                            <span class="tp_prop_color">{{ product.salePrice | number:'.2-2' }} {{product.codeCurrency}} (1 шт)</span>
                                                        </span>
                                                    </div>
                                                    <div class="total_price">
                                                        <span class="tp_item">Итого: </span>
                                                        <span class="tp_item tp_number">
                                             