<div class="row">
    <div class="loading-indicator" [ngClass]="{show_loader:loadingProducts}">
        <div class="loader">
            <i class="fa fa-circle-o-notch fa-spin"></i> Загрузка товаров
        </div>
    </div>
    <div class="col-lg-8">
        <div class="mb-3">
            <form role="form" #searchForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onSearch()">
                <div class="form-group input-group">
                    <input class="form-control" type="text" placeholder="Поиск" name="search" [(ngModel)]="search">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <table class