<div class="row">
    <div class="col-lg-8">
        <div class="card card-default">
            <div class="card-header">
                <i class="fa fa-user-plus fa-fw"></i> Создание пользователя
            </div>
            <div class="card-block">
                <form role="form" #registerForm="ngForm" novalidate autocomplete="off" (ngSubmit)="register(registerForm)">
                    <div class="form-content">
                        <div class="form-group" [ngClass]="{has_success:(email.touched || email.dirty) && !email.errors || loading, has_danger: (email.touched || email.dirty) && email.errors || !loading}">
                            <label for="inputEmail" class="form-control-label">E-mail</label>
                   