<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">Корзина</div>
            <div class="card-block table-responsive">
                <table *ngIf="!isCartEmpty" class="product-list">
                    <tbody>
                        <tr class="row-wrap reserved scroll-here out-of-stock1" *ngFor="let product of products; let i = index">
                            <td class="product-description">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="img-table">
                                                <img src="{{product.image}}" alt="{{product.name}}">
                                            </td>
                                            <td class="description-wrap">
                                                <table class="items_wrap">
                                                    <tbody>
                                                        <tr class="description_items">
                                                            <td>
                                                                <div class="name-brand">{{product.name}}</div>
                                                                <div class="cl-size-container">
                                                                    <positions-comp [productId]="product.id" [(positions)]="product.positions" (onChangePosition)="onChangedPosition($event)"></positions-comp>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="total_price_items">
                                                            <div class="total_price">
                                                                <span class="tp_item">Цена: </span>
                                                                <span class="tp_item tp_number">
                                                                    <span class="tp_prop_color">{{ product.salePrice | number:'.2-2'}} {{product.codeCurrency}} (1 шт)</span>
                                                                </span>
                                                            </div>
                                                            <div class="total_price">
                                                                <span class="tp_item">Итого: </span>
                                                                <span class="tp_item tp_number">
                                                                    <span class="tp_prop_color">{{product.salePrice*(product.quantity || 0) | number:'.2-2' }} {{product.codeCurrency}} ({{product.quantity
                                                                        || 0}} шт)</span>
                                                                </span>
                                                            </div>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr *ngIf="product.description">
                                            <td colspan="2">
                                                <div class="mt-3">
                                                    <p>{{product.description}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="isCartEmpty">
                    <h4>Корзина пус